.aboutDiv{
    background: white
}
.row{
    margin: none !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.milkBack img{
    width: 100%;
    padding: 0px !important;
    margin: 0px !important
}
.milkBack{
    padding-right: 0px !important;
    padding-left: 0px !important
}
.abChild{
    padding-left: 30%;
    padding-top: 20%;
}
.line{
    width: 45px;
    background: black;
    height: 2px;
    margin-bottom: 20px;

}
.abHead h1{
    font-size: 2.8rem;
    color: black;
    line-height: 3.2rem;
    letter-spacing: -0.2rem;
}
.abHead p{
    font: normal normal normal 15px/1.4em 'Avenir LT Std 35 Light',sans-serif;
    padding-top: 20%;
    padding-right: 12%;
    line-height: 1.7em;
    letter-spacing: 0.02em;
}
@media screen and (max-width: 1100px) {
    .abChild{
        padding-left: 15%;
        padding-top: 20%;
    }
  }

@media screen and (max-width: 950px) {
    .abChild{
        padding-left: 10%;
        padding-top: 20%;
    }
    .abHead h1{
        font-size: 2rem;
        padding-top: 20px;
        color: black;
        line-height: 2.5rem;
        letter-spacing: -0.2rem;
    }
    .abHead p{
        font: normal normal normal 15px/1.4em 'Avenir LT Std 35 Light',sans-serif;
        padding-top: 5%;
        padding-right: 12%;
        line-height: 1.3em;
        letter-spacing: 0.02em;
    }
  }
  @media screen and (max-width: 830px) {
    .abChild{
        padding-left: 5%;
        padding-top: 20%;
    }
  }
  @media screen and (max-width: 750px) {
    .abChild{
        padding-left: 5%;
        padding-top: 20%;
    }
   
  }
  @media screen and (max-width: 500px) {
    .abChild{
        padding-left: 5%;
        padding-top: 25%;
        padding-bottom: 25%;
    }
  }